@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = "Docs & Tutorials";
}

<!-- Page Contents -->
@*
	<div class="jumbotron bg-transparent">
		<div class="container">
			<h1 class="display-3"></h1>
			<p></p>
		</div>
	</div>

	<hr class="divider" />

	<div class="container text-center">

		<p>Work in Progress</p>

	</div>
*@

<div class="welcome-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-3">@Model.PageTitle</h1>
	<p class="lead">
		General getting started resources.
	</p>
</div>

<div class="container text-center mt-5">

	<p>Work in Progress</p>

</div>


