@using  App.UI.Mvc5.Areas.Users

@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString<AreaResources>("RecoverPassword");
}

<!-- Page Contents -->

<div class="row justify-content-md-center">

	<div class="col-12 text-center">

		<div class="alert alert-success">
			@(GetLocalizedString<AreaResources>("RecoverPasswordSuccessInfo"))
		</div>

		<p>@(GetLocalizedString<AreaResources>("RecoverPasswordSuccessInfoDetails"))</p>

	</div>

</div>
