<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
		</sectionGroup>
		<section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>
	</configSections>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		<pages pageBaseType="App.UI.Mvc5.Infrastructure.AppWebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Optimization"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="Domain.Core"/>
				<add namespace="Shared.Extensions"/>
				<add namespace="Shared.Infrastructure"/>
				<add namespace="App.UI.Mvc5"/>
				<add namespace="App.UI.Mvc5.Controllers"/>
				<add namespace="App.UI.Mvc5.Infrastructure"/>
				<add namespace="App.UI.Mvc5.Models"/>
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<appSettings file="dev.config">
		<!-- MVC -->
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<!-- Logger Infra -->
		<add key="logger.storageFolder" value="~/App_Data/Logs"/>
		<!-- Cloudinary Infra -->
		<add key="cloudinary.cloudName" value="your_cloud_name"/>
		<add key="cloudinary.cloudApiKey" value="your_cloud_api_key"/>
		<add key="cloudinary.cloudApiSecret" value="your_cloud_api_secret"/>
		<!-- Azure Infra / Only lowercase letters, numbers, and dash are allowed for container name -->
		<add key="azure.blobsConnection" value="UseDevelopmentStorage=true"/>
		<add key="azure.blobsDefaultContainer" value="app-data-storage"/>
		<!-- MailGun Infra -->
		<add key="mailGun.ApiKey" value="your_api_key"/>
		<add key="mailGun.domainName" value="your_domain_name"/>
		<!-- FileSystem Infra -->
		<add key="fileSystem.storageFolder" value="~/App_Data/Storage"/>
		<!--Email Messages -->
		<add key="emails.defaultEmailFromAddress" value="noreply@yourdomain.com"/>
		<add key="emails.defaultEmailFromDisplayName" value="[Skeleton] MVC5 Starter Template"/>
		<!-- Maximum file size allowed / 5 Mb -->
		<add key="blobs.fileUploadMaxLengthInBytes" value="5242880"/>
		<!-- Active blob storage service / "" defaults to filesystem -->
		<add key="app.activeStorageService" value=""/>
		<!-- Active email dispatcher service / "" defaults to native system.net smtp -->
		<add key="app.activeEmailDispatcherService" value=""/>
		<!-- Globalization -->
		<add key="globalization.defaultCultureId" value="en-US"/>
		<add key="globalization.defaultUICultureId" value="en-US"/>
		<add key="globalization.defaultTimeZoneId" value="UTC"/>
		<add key="globalization.cultureCookieName" value="_skeletonMvc5Culture"/>
		<add key="globalization.uiCultureCookieName" value="_skeletonMvc5UICulture"/>
		<add key="globalization.timeZoneCookieName" value="_skeletonMvc5TimeZoneId"/>
		<add key="globalization.supportedCultures" value="en-US,en-GB,en-CA,en-AU,en-AT,en-IN,de-DE,de-AT,tr-TR,pt-BR,pt-PT,hi-IN,fr-FR"/>
		<add key="globalization.supportedUICultures" value="en-US"/>
		<!-- Auth -->
		<add key="auth.logInPath" value="/users/account/login"/>
		<add key="auth.cookieName" value="skeletonMvc5AuthCookie"/>
		<!-- Bob Service -->
		<add key="blobs.defaultThumbBackgroundHexColor" value="#0088CC"/>
		<add key="blobs.defaultThumbForegroundHexColor" value="#FFFFFF"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="postmaster@yourdomain.com" deliveryMethod="SpecifiedPickupDirectory">
				<!--
					pickupDirectoryLocation
					- Physical folder paths are supported (Ex. E:\SomeFolder\Emails).
				-->
				<specifiedPickupDirectory pickupDirectoryLocation="~/App_Data/Emails"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<customErrors mode="Off"/>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.7.1"/>
		<httpRuntime targetFramework="4.7.1" maxRequestLength="1048576"/>
		<globalization culture="en-US" uiCulture="en-US" requestEncoding="UTF-8" responseEncoding="UTF-8" responseHeaderEncoding="UTF-8" enableClientBasedCulture="false" enableBestFitResponseEncoding="false"/>
		<httpModules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</httpModules>
	</system.web>
	<connectionStrings>
		<add name="SqlServerConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=starterTemplateMVC5;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.webServer>
		<httpErrors existingResponse="PassThrough"/>
		<handlers>
			<remove name="BlockViewHandler"/>
			<remove name="BlobsRouteHandler"/>
			<!--Prevent views to be directly served from areas. E.g. 'Areas/Management/Views'.-->
			<!--This pattern replaces the need to have one web.config per views folder per area and allow setting shared configs from this file (e.g.: system.web.webPages.razor).-->
			<add name="BlockViewHandler" path="areas/*/views/*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
			<!--Allow blob routes to have extensions-->
			<add name="BlobsRouteHandler" path="blobs/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<staticContent>
			<remove fileExtension=".mp4"/>
			<remove fileExtension=".m4v"/>
			<remove fileExtension=".ogg"/>
			<remove fileExtension=".ogv"/>
			<remove fileExtension=".webm"/>
			<remove fileExtension=".oga"/>
			<remove fileExtension=".spx"/>
			<remove fileExtension=".svg"/>
			<remove fileExtension=".svgz"/>
			<remove fileExtension=".eot"/>
			<remove fileExtension=".otf"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".woff2"/>
			<remove fileExtension=".ttf"/>
			<remove fileExtension=".json"/>
			<remove fileExtension=".css"/>
			<remove fileExtension=".js"/>
			<remove fileExtension=".html"/>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
			<mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
			<mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
			<mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
			<mimeMap fileExtension=".webm" mimeType="video/webm"/>
			<mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
			<mimeMap fileExtension=".spx" mimeType="audio/ogg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
			<mimeMap fileExtension=".otf" mimeType="application/x-font-opentype"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
			<mimeMap fileExtension=".ttf" mimeType="application/font-sfnt"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
			<mimeMap fileExtension=".css" mimeType="text/css"/>
			<mimeMap fileExtension=".js" mimeType="text/javascript"/>
			<mimeMap fileExtension=".html" mimeType="text/html"/>
			<mimeMap fileExtension=".unknown" mimeType="application/octet-stream"/>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15"/>
		</staticContent>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</modules>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
