@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = "Realtime";
}

<!-- Sections -->

@section page_scripts_init {
	<script src="~/areas/features/scripts/realtime.js"></script>
}

<!-- Page Contents -->

<div class="jumbotron bg-transparent">
	<div class="container">
		<h1 class="display-3">@Model.PageTitle</h1>
		<p>Integrated SignalR databus for realtime data processing.</p>
	</div>
</div>

<hr class="divider" />

<div class="container">
	<form>
		<div class="row">

			<div class="col-lg">
				@Html.AntiForgeryToken()
				<div class="form-group">
					<label>Payload</label>
					<textarea name="payload" id="payload" class="form-control" rows="5"></textarea>
					<small class="form-text text-muted">* Try opening other windows in different browsers and devices to check this out.</small>
				</div>
				<a id="realtimeSampleData" class="btn btn-outline-primary pull-right" href="@Url.Action("BroadcastData", "Realtime")">Broadcast</a>
			</div>

			<div class="col-lg">
				<div class="form-group">
					<label>Received Data</label>
					<div id="receivedData" class="bg-light" style="white-space: pre-wrap;min-height:300px;"></div>
				</div>
			</div>

		</div>
	</form>
</div>
