@using App.UI.Mvc5.Areas.Features.Models

@model GlobalizationViewModel

<!-- Meta -->

@{
	ViewBag.MenuSection = "Globalization";
}

<!-- Page Contents -->

<div class="container text-center mt-5 pt-5">

	<p>Work in Progress</p>

</div>


