<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.Owin" version="4.0.0-preview1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="4.0.0-preview1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0-preview1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0-preview1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
</packages>