@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString("Auth_RecoverPasswordTitle");
}

<!-- Page Contents -->

<div class="row justify-content-md-center">

	<div class="col-12 text-center">

		<div class="alert alert-success">
			@GetLocalizedString("Auth_RecoverPasswordSuccessInfo")
		</div>

		<p>@GetLocalizedString("Auth_RecoverPasswordSuccessInfoDetails")</p>

	</div>

</div>
