@using App.UI.Mvc5.Areas.Users.Models

@model AccountPasswordRecoverMessageViewModel

<!-- Meta -->

@{
	this.SetLayout(Layouts.Emails);
}

<!-- Page Contents -->

<p>@Model.Name,</p>
<p>Please follow the link bellow to proceed:</p>
<p><a href="@Model.ResetLink">@Model.ResetLink</a></p>
<p>If you did not requested this message, please ignore this email and no action will be taken.</p>