@model EmptyViewModel

<!-- Meta -->

@{
	this.SetLayout("~/Areas/Users/Views/_LayoutArea.cshtml");

	Model.PageTitle = GetLocalizedString("Users_VerifyEmailTitle");
}

<!-- Page Contents -->

<div class="container text-center mt-5">

	<div class="card text-center border-0">
		<div class="card-body">
			<h4 class="card-title">@GetLocalizedString("Users_VerifyEmailLabel")</h4>
			<p class="card-text">@GetLocalizedString("Users_VerifyEmailLeadInfo")</p>
			<a href="@Url.Action("VerifyEmailRequest", "Account", new { userId = User.Id })" class="btn btn-primary">@GetLocalizedString("Users_VerifyEmailLinkLabel")</a>
		</div>
	</div>

</div>
