@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString("Home");
}

<!-- View Sections -->

@section page_styles {
}

@section page_scripts {
}

@section page_scripts_init {
}

<!-- View Contents -->

<div class="welcome-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-3">Welcome!</h1>
	<p class="lead">
		Skeleton MVC5 is a simple and useful starter kit. It provides everything needed to start your new product.
	</p>
	<p>
		<a class="btn btn-outline-dark btn-lg mt-5" href="https://github.com/akasarto/aspnet-mvc5-starter-template" target="_blank" role="button">
			<i class="fa fa-github mr-3"></i>Project Code &amp; Documentation
		</a>
	</p>
</div>

<div class="container mt-5 pt-5">

	<div class="row">

		<div class="col-lg-4 text-center">
			<i class="fa fa-cube fa-5x mb-3"></i>
			<h2>S.O.L.I.D</h2>
			<p>The project was build with patterns and principles in mind. You will find evidence of this throughout the entire project.</p>
		</div>

		<div class="col-lg-4 text-center">
			<i class="fa fa-globe fa-5x mb-3"></i>
			<h2>Globalized</h2>
			<p>It supports culture specific translations as well as region based date, time and numeric display and conversion between time zones.</p>
		</div>

		<div class="col-lg-4 text-center">
			<i class="fa fa-clock-o fa-5x mb-3"></i>
			<h2>Realtime</h2>
			<p>Out of the box SignalR hub implementation for realtime message broadcast. Use it as base for more advanced scenarios.</p>
		</div>

	</div>

</div>
