@using App.UI.Mvc5.Areas.Docs

<!-- Page Contents -->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal">@(GetLocalizedString<DocsResources>("Documentation"))</h5>
	<nav class="navbar navbar-light my-2 my-md-0 mr-md-3">
		<ul class="nav submenu">
			<li class="nav-item active">
				<a class="p-2 text-dark nav-link" href="#">Architecture</a>
			</li>
			<li class="nav-item">
				<a class="p-2 text-dark nav-link" href="#">Aaaaaaaaaa</a>
			</li>
			<li class="nav-item">
				<a class="p-2 text-dark nav-link" href="#">Bbbbbbbb</a>
			</li>
		</ul>
	</nav>
</div>
