@using App.UI.Mvc5.Areas.Docs

<!-- Page Contents -->

<li class="nav-item @Menu.IfActiveItem("docs.*", "active")">
	<a class="nav-link" href="@Url.Action("Index", "_Landing")">@(GetLocalizedString<AreaResources>("Documentation"))</a>
</li>
