@using App.UI.Mvc5.Areas.Docs
@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = GetLocalizedString<AreaResources>("Documentation");
}

<div class="container text-center mt-5 pt-5">

	<p>Work in Progress</p>

</div>


