@model EmptyViewModel

<!-- Meta -->

@{
	Model.PageTitle = "Docs & Tutorials";
}

<!-- Page Contents -->

<div class="jumbotron bg-transparent">
	<div class="container">
		<h1 class="display-3">@Model.PageTitle</h1>
		<p>General getting started resources.</p>
	</div>
</div>

<hr class="divider" />

<div class="container text-center">

	<p>Work in Progress</p>

</div>

