
<!-- View Contents -->

<footer class="footer">
	<div class="container text-center">
		@GetLocalizedString("_App_Copyright").WithRawHtmlOutput() <span class="d-none d-md-inline">All rights reserved.</span>
	</div>
</footer>
