
<!-- View Contents -->

<footer class="footer">
	<div class="container">
		<div class="pull-left">@GetLocalizedString("_App_Copyright").WithRawHtmlOutput() <span class="d-none d-md-inline">All rights reserved.</span></div>
		<div class="pull-right"><a href="#">Back to top</a></div>
	</div>
</footer>
