
<!-- View Contents -->

<header>

	<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">

		<a class="navbar-brand" href="@Url.GetHomeUrl()">
			<img class="img-fluid" width="35" src="~/Assets/images/logo.svg" />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="@GetLocalizedString("ToggleNavigation")">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">

			<!--Top Menu-->
			@Html.Action("TopMenu", "_Menu", new { area = AppAreas.GetAreaName(Area.Root) })

			<!-- User Box -->
			@Html.Action("Box", "Account", new { area = AppAreas.GetAreaName(Area.Users) })

		</div>

	</nav>

</header>
