
<!-- View Contents -->

<ul class="navbar-nav mr-auto">
	<li class="nav-item active">
		<a class="nav-link" href="@Url.Action("Index", "Home", new { area = AppAreas.GetAreaName(Area.Root) })">Home <span class="sr-only">(@GetLocalizedString("CurrentLabel").ToLower())</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Disabled</a>
	</li>
</ul>

