<!-- Page Contents -->

<div class="feedback-validation feedback-validation-alerts @(ViewData.ModelState.IsValid ? "hidden" : string.Empty)">
	@foreach (var item in ViewData.ModelState)
	{
		foreach (var error in item.Value.Errors)
		{
			<div id="@(item.Key)-error" class="alert alert-danger">
				<i class="fa fa-times mr-3"></i>@Html.Raw(error.ErrorMessage)
			</div>
		}
	}
</div>
