@model EmptyViewModel

<!-- Meta -->

@{
	ViewBag.MenuSection = "Overview";
}

<!-- Page Contents -->

<div class="container">
	<div class="py-5 text-center">
		<h2>Available Features</h2>
		<p class="lead">This area provides the basics over the available functionalities available in the project. Details documentation will be available in the GitHub Wiki page soon (WiP).</p>
	</div>
</div>

<div class="container text-center">
	<p>
		<a class="btn btn-outline-dark btn-lg mt-5" href="https://github.com/akasarto/aspnet-mvc5-starter-template" target="_blank" role="button">
			<i class="fa fa-github mr-3"></i>Project Code &amp; Documentation
		</a>
	</p>
</div>


